[submodule "vendor/imgui"]
	path = vendor/imgui
	url = git@github.com:ludvij/imgui.git
	branch = docking
	
[submodule "FileManager"]
	path = libraries/varf
	url = git@github.com:ludvij/libVARF.git
[submodule "Lud_Utils"]
	path = libraries/Lud_Utils
	url = git@github.com:ludvij/EMOO.git
