[submodule "vendor/imgui"]
	path = vendor/imgui
	url = git@github.com:ludvij/imgui.git
	branch = docking
	
[submodule "FileManager"]
	path = varf
	url = git@github.com:ludvij/F-Man.git
[submodule "Lud_Utils"]
	path = Lud_Utils
	url = git@github.com:ludvij/EMOO.git
